In [1]:
#installing the required packages for the 
!pip install selenium
!pip install chromedriver-binary
!apt-get update 
!apt install chromium-chromedriver
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
#from selenium import webdriver
#browser = webdriver.Chrome(executable_path=r"C:\Users\Akshay Gour\Downloads\chromedriver_win32")

Requirement already satisfied: selenium in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (4.1.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from selenium) (1.26.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: idna in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from urllib3[secure]~=1.26->selenium) (36.0.1)
Requirement already satisfied: certifi in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from urllib3[secure]~=1.26->selenium) (22.0.0)
Requirement already satisfied: pycparser in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: chromedriver-binary in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (99.0.4844.35.0)

'apt-get' is not recognized as an internal or external command,
operable program or batch file.
'apt' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
#initiating the driver and linking the carrierguide website with it
driver = webdriver.Chrome()
driver.get('https://www.careerguide.com/career-options')

In [3]:
c_body=driver.find_elements_by_class_name('c-body')[0]

C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\145772440.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  c_body=driver.find_elements_by_class_name('c-body')[0]

In [4]:
type(c_body)

selenium.webdriver.remote.webelement.WebElement

In [5]:
unit=c_body.find_elements_by_class_name('col-md-4')

C:\Users\Akshay Gour\AppData\Local\Programs\Python\Python310\lib\site-packages\selenium\webdriver\remote\webelement.py:464: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [6]:
len(unit)

39

In [7]:
#extracting the categories and subcategories form carrierguide
data = []
subcategory_list=[]
total = 0
for i in range (len(unit)):
  subcategory=[]
  category=unit[i].find_elements_by_class_name('c-font-bold')[0].text
  if(category == "Institutes in India"):
    continue
  subcategory_list.append(unit[i].find_elements_by_class_name('c-content-list-1')[0].text.split('\n'))
  subcategory=unit[i].find_elements_by_class_name('c-content-list-1')[0].text.split('\n')[:5]
  total = total + len(subcategory)
  data.append({"category":category, "subcategory": subcategory})
  print("category:"+category+"\n"+"total:"+str(len(subcategory)))

category:Aerospace & Aviation
total:5
category:Agriculture
total:5
category:Automobile / Autocomponents
total:5
category:Banking / Insurance & Finance
total:5
category:Beauty & Wellness Industry
total:1
category:Building & Construction
total:5
category:Building / Hardware & Home Furnishings
total:5
category:Chemicals & Pharmaceuticals
total:5
category:Commerce or Humanities Stream
total:1
category:Defense & Military
total:5
category:Designing & Art
total:5
category:Education / Skill Development
total:5
category:Electronics & Hardware
total:5
category:Emergency Services
total:2
category:Engineering & Technology
total:5
category:Exams and Syllabus
total:5
category:Food Processing
total:4
category:Gems & Jewellery
total:5
category:Handlooms & Handicrafts
total:5
category:Healthcare
total:5
category:Humanistic Studies
total:5
category:Information Technology / Software
total:5
category:ITES / BPO
total:5
category:Law & Order
total:5
category:Leather & Leather Goods
total:5
category:Management & Marketing
total:5
category:Media / Entertainment & Animation
total:5
category:Organised Retail
total:5
category:Psychometric Career Test
total:1
category:Public Admin & Government
total:5
category:Real Estate
total:1
category:Science & Research
total:5
category:Sports
total:5
category:Study Abroad
total:5
category:Telecom
total:5
category:Textiles & Garments
total:5
category:Tourism / Hospitality & Travel
total:5
category:Transportation/Logistics/Warehousing & Packaging
total:5

In [8]:
len(data)

38

In [9]:
#importing the pandas asn numpy
!pip install pandas
!pip install numpy
import numpy as np
NaN = np.nan
import pandas as pd

Requirement already satisfied: pandas in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (1.22.2)

In [10]:
#logging in the linkdin profile
driver = webdriver.Chrome()

driver.get('https://www.linkedin.com/login?fromSignIn=true')
time.sleep(1)

### get username and password input boxes path
username = driver.find_element_by_xpath('//*[@id="username"]')
password = driver.find_element_by_xpath('//*[@id="password"]')

### input the email id and password
username.send_keys("akshay.gaur2407@gmail.com")
password.send_keys("&@Aks1234")

### click the login button
login_btn = driver.find_element_by_css_selector('.login__form_action_container>button')
time.sleep(1)
login_btn.click()

C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\784171949.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  username = driver.find_element_by_xpath('//*[@id="username"]')
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\784171949.py:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  password = driver.find_element_by_xpath('//*[@id="password"]')
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\784171949.py:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  login_btn = driver.find_element_by_css_selector('.login__form_action_container>button')

In [11]:
states_list=["Andhra Pradesh",
"Arunachal Pradesh",
"Assam",
]
""""Goa",
"Bihar",
"Chhattisgarh"
"Gujarat",
"Haryana",
"Himachal Pradesh,"
"Jharkhand",
"Karnataka",
"Kerala",
"Madhya Pradesh",
"Maharashtra",
"Manipur",
"Meghalaya",
"Mizoram",
"Nagaland",
"Odisha",
"Punjab",
"Rajasthan",
"Sikkim",
"Tamil Nadu",
"Telangana",
"Tripura",
"Uttar Pradesh",
"Uttarakhand",
"West Bengal",
"Delhi"""

'"Goa",\n"Bihar",\n"Chhattisgarh"\n"Gujarat",\n"Haryana",\n"Himachal Pradesh,"\n"Jharkhand",\n"Karnataka",\n"Kerala",\n"Madhya Pradesh",\n"Maharashtra",\n"Manipur",\n"Meghalaya",\n"Mizoram",\n"Nagaland",\n"Odisha",\n"Punjab",\n"Rajasthan",\n"Sikkim",\n"Tamil Nadu",\n"Telangana",\n"Tripura",\n"Uttar Pradesh",\n"Uttarakhand",\n"West Bengal",\n"Delhi'

In [12]:
states_list[0]

'Andhra Pradesh'

In [13]:
#getting the title,company_name,location,state,category,subcategory,company_link
title=[]
company_name=[]
location=[]
state=[]
category_=[]
sub_category=[]
company_link=[]
for i in range(1): #data
  category=data[i]['category']
  subcategory=data[i]['subcategory']
  for j in range(len(subcategory)): #subcat
   for k in range(len(states_list)): 
    url = 'https://www.linkedin.com/jobs/search/?keywords='+subcategory[j].replace(' ','%20')+'&location='+states_list[k].replace(' ',"%20")#modifing the url
    driver.get(url)                                                                                    #to get the link           
    time.sleep(15)
    if driver.find_elements_by_class_name("jobs-search-two-pane__no-results-banner--expand"):
        continue
    jobs = driver.find_elements_by_css_selector('.artdeco-entity-lockup__content')
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(3)
    print(len(jobs))
       
    for l in range(len(jobs)):
     
        title.append(jobs[l].find_element_by_class_name('job-card-list__title').text)#getting the title
        company_name.append(jobs[l].find_element_by_class_name('job-card-container__company-name').text)#getting the company_name
        company_link.append(jobs[l].find_element_by_class_name('job-card-container__company-name').get_attribute('href'))
        loc = jobs[l].find_element_by_class_name('job-card-container__metadata-item').text#getting the company_location
        location.append(loc)
        state.append(states_list[k])    
        category_.append(category)   #getting the category
        sub_category.append(subcategory[j])   #getting the subcategory

C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\2343708255.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if driver.find_elements_by_class_name("jobs-search-two-pane__no-results-banner--expand"):
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\2343708255.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  jobs = driver.find_elements_by_css_selector('.artdeco-entity-lockup__content')

2

C:\Users\Akshay Gour\AppData\Local\Programs\Python\Python310\lib\site-packages\selenium\webdriver\remote\webelement.py:446: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

2
2
1
1
1

In [14]:
#creating  the pandas dataframe to store the list from above cell
df = pd.DataFrame({'title' : title,
                                'company_name' : company_name,
                                'location' : location,
                                'state': state,
                                'category_name':category_,
                                 'sub_category':sub_category,
                                'company_link': company_link
                                 }, 
                                columns=['title','company_name','location', 'state','category_name','sub_category','company_link'])

df

,title,company_name,location,state,category_name,sub_category,company_link
0,Editor - Materials Science,Cactus Communications,India,Andhra Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/
1,Editor - Materials Science,Cactus Communications,India,Andhra Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/
2,Editor - Materials Science,Cactus Communications,India,Arunachal Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/
3,Editor - Materials Science,Cactus Communications,India,Arunachal Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/
4,Editor - Materials Science,Cactus Communications,India,Assam,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/
5,Editor - Materials Science,Cactus Communications,India,Assam,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/
6,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Andhra Pradesh,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/
7,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Arunachal Pradesh,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/
8,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Assam,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/

In [15]:
title

['Editor - Materials Science',
 'Editor - Materials Science',
 'Editor - Materials Science',
 'Editor - Materials Science',
 'Editor - Materials Science',
 'Editor - Materials Science',
 'Cleaning Business / Remote CEO - 60-70 hours a week',
 'Cleaning Business / Remote CEO - 60-70 hours a week',
 'Cleaning Business / Remote CEO - 60-70 hours a week']

In [16]:
#getting the about,company_size,heeadquarters
about=[]
company_size=[]
headquarters=[]

for i in range (len(df['company_link'])):
 if df['company_link'][i]==None:
    about.append('-')
    headquarters.append('-')
    company_size.append('-')
    continue
 driver.get(df['company_link'][i]+'/about')
 time.sleep(5)
 if not driver.find_elements_by_css_selector('.text-heading-large+p'):
    about.append('-')
 else:
    about.append(driver.find_element_by_css_selector('.text-heading-large+p').text) #getting the about
    
 if not driver.find_elements_by_xpath("//dt[text()='Headquarters']/following-sibling::dd"):
    headquarters.append('-')
 else:
    headquarters.append(driver.find_element_by_xpath("//dt[text()='Headquarters']/following-sibling::dd").text) #getting the headquarters
 if not driver.find_elements_by_xpath("//dt[text()='Company size']/following-sibling::dd"):
    company_size.append('-')
 else:
    company_size.append(driver.find_element_by_xpath("//dt[text()='Company size']/following-sibling::dd").text)
    #getting the company size
    #the if else statements are necessary to check whether the company profile has all the attributes or not

C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\1680767651.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if not driver.find_elements_by_css_selector('.text-heading-large+p'):
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\1680767651.py:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  about.append(driver.find_element_by_css_selector('.text-heading-large+p').text) #getting the about
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\1680767651.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if not driver.find_elements_by_xpath("//dt[text()='Headquarters']/following-sibling::dd"):
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\1680767651.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  headquarters.append(driver.find_element_by_xpath("//dt[text()='Headquarters']/following-sibling::dd").text) #getting the headquarters
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\1680767651.py:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  if not driver.find_elements_by_xpath("//dt[text()='Company size']/following-sibling::dd"):
C:\Users\Akshay Gour\AppData\Local\Temp\ipykernel_16792\1680767651.py:26: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  company_size.append(driver.find_element_by_xpath("//dt[text()='Company size']/following-sibling::dd").text)

In [17]:
#creating another dataframe to store the 3 list from above cell
df2=pd.DataFrame({'about' : about,
                                'headquarters' : headquarters,
                                'company_size' : company_size
                                 }, 
                                columns=['about','headquarters','company_size'])
df2

,about,headquarters,company_size
0,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
1,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
2,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
3,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
4,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
5,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
6,-,-,11-50 employees
7,-,-,11-50 employees
8,-,-,11-50 employees

In [18]:
final = pd.concat([df,df2],axis=1) #cconcating bothe the dataframe from above to get final result

In [19]:
final

,title,company_name,location,state,category_name,sub_category,company_link,about,headquarters,company_size
0,Editor - Materials Science,Cactus Communications,India,Andhra Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
1,Editor - Materials Science,Cactus Communications,India,Andhra Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
2,Editor - Materials Science,Cactus Communications,India,Arunachal Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
3,Editor - Materials Science,Cactus Communications,India,Arunachal Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
4,Editor - Materials Science,Cactus Communications,India,Assam,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
5,Editor - Materials Science,Cactus Communications,India,Assam,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
6,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Andhra Pradesh,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/,-,-,11-50 employees
7,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Arunachal Pradesh,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/,-,-,11-50 employees
8,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Assam,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/,-,-,11-50 employees

In [20]:
#sorting the final dataframe in accordance with state,category_name
final=final.sort_values(by = ['state', 'category_name'], ascending = [True, True], na_position = 'first')

In [21]:
final.reset_index(drop=True,inplace=True)

In [22]:
final

,title,company_name,location,state,category_name,sub_category,company_link,about,headquarters,company_size
0,Editor - Materials Science,Cactus Communications,India,Andhra Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
1,Editor - Materials Science,Cactus Communications,India,Andhra Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
2,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Andhra Pradesh,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/,-,-,11-50 employees
3,Editor - Materials Science,Cactus Communications,India,Arunachal Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
4,Editor - Materials Science,Cactus Communications,India,Arunachal Pradesh,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
5,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Arunachal Pradesh,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/,-,-,11-50 employees
6,Editor - Materials Science,Cactus Communications,India,Assam,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
7,Editor - Materials Science,Cactus Communications,India,Assam,Aerospace & Aviation,Aerospace Materials Specialist,https://www.linkedin.com/company/58396/,We offer \n- AI-powered scholarly publishing s...,"Mumbai, Maharashtra","1,001-5,000 employees"
8,Cleaning Business / Remote CEO - 60-70 hours a...,Press Play Digital,India,Assam,Aerospace & Aviation,Aircraft Cleaner,https://www.linkedin.com/company/66696097/,-,-,11-50 employees

In [23]:
import sys
print(sys.path)

['C:\\Users\\Akshay Gour', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\python310.zip', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\DLLs', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310', '', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\win32', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Akshay Gour\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\Pythonwin']

In [24]:
!pip install -U setuptools
!pip install -U wheel
!pip install mysql-connector-python

Requirement already satisfied: setuptools in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (60.9.3)
Requirement already satisfied: wheel in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (0.37.1)
Requirement already satisfied: mysql-connector-python in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.19.4)

In [25]:
import socket
socket.getaddrinfo('localhost', 8080)

[(<AddressFamily.AF_INET6: 23>, 0, 0, '', ('::1', 8080, 0, 0)),
 (<AddressFamily.AF_INET: 2>, 0, 0, '', ('127.0.0.1', 8080))]

In [26]:
# In the python cmd, install packages:
!pip3 install pymysql
!pip3 install ipython-sql
!pip3 install mysqlclient

Requirement already satisfied: pymysql in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (1.0.2)
Requirement already satisfied: ipython-sql in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.31)
Requirement already satisfied: ipython>=1.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.0.1)
Requirement already satisfied: sqlparse in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: pygments in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: backcall in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (60.9.3)
Requirement already satisfied: matplotlib-inline in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: colorama in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.28)
Requirement already satisfied: traitlets>=5 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: black in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (22.1.0)
Requirement already satisfied: decorator in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: click>=8.0.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from black->ipython>=1.0->ipython-sql) (8.0.4)
Requirement already satisfied: tomli>=1.1.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from black->ipython>=1.0->ipython-sql) (2.0.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from black->ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: platformdirs>=2 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from black->ipython>=1.0->ipython-sql) (2.5.1)
Requirement already satisfied: pathspec>=0.9.0 in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from black->ipython>=1.0->ipython-sql) (0.9.0)
Requirement already satisfied: executing in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: asttokens in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: mysqlclient in c:\users\akshay gour\appdata\local\programs\python\python310\lib\site-packages (2.1.0)

In [27]:
# in the jupyter notebook:
import pymysql
import pandas as pd

conn=pymysql.connect(host='127.0.0.1',port=int(3306),user='root',passwd='',db='assignment')
cursor = conn.cursor()
#cursor.execute("DROP TABLE states_list")

#sql = "INSERT INTO ... VALUES {}".format(values)

In [28]:
table1=[(i+1,states_list[i]) for i in range(len(states_list))] 
cursor.execute("DROP TABLE states_list")
cursor.execute("CREATE TABLE states_list(Id int(11) NOT NULL,Name varchar(250) NOT NULL) ")
values = ', '.join(map(str, table1))
cursor.execute("INSERT INTO states_list VALUES {}".format(values))

3

In [29]:
cursor.execute("SELECT * FROM states_list")
records=cursor.fetchall()
print("\nPrinting each row")
for row in records:
    print("Id = ", row[0], )
    print("Name = ", row[1])

Printing each row
Id =  1
Name =  Andhra Pradesh
Id =  2
Name =  Arunachal Pradesh
Id =  3
Name =  Assam

In [30]:
table2=[(i+1,data[i]['category']) for i in range(len(data))]  
cursor.execute("DROP TABLE category")
cursor.execute("CREATE TABLE category (Id int(11) NOT NULL,Name varchar(250) NOT NULL) ")
values = ', '.join(map(str, table2))
cursor.execute("INSERT INTO category VALUES {}".format(values))

38

In [31]:
cursor.execute("SELECT * FROM category")
records=cursor.fetchall()
print("\nPrinting each row")
for row in records:
    print("Id = ", row[0], )
    print("Name = ", row[1])

Printing each row
Id =  1
Name =  Aerospace & Aviation
Id =  2
Name =  Agriculture
Id =  3
Name =  Automobile / Autocomponents
Id =  4
Name =  Banking / Insurance & Finance
Id =  5
Name =  Beauty & Wellness Industry
Id =  6
Name =  Building & Construction
Id =  7
Name =  Building / Hardware & Home Furnishings
Id =  8
Name =  Chemicals & Pharmaceuticals
Id =  9
Name =  Commerce or Humanities Stream
Id =  10
Name =  Defense & Military
Id =  11
Name =  Designing & Art
Id =  12
Name =  Education / Skill Development
Id =  13
Name =  Electronics & Hardware
Id =  14
Name =  Emergency Services
Id =  15
Name =  Engineering & Technology
Id =  16
Name =  Exams and Syllabus
Id =  17
Name =  Food Processing
Id =  18
Name =  Gems & Jewellery
Id =  19
Name =  Handlooms & Handicrafts
Id =  20
Name =  Healthcare
Id =  21
Name =  Humanistic Studies
Id =  22
Name =  Information Technology / Software
Id =  23
Name =  ITES / BPO
Id =  24
Name =  Law & Order
Id =  25
Name =  Leather & Leather Goods
Id =  26
Name =  Management & Marketing
Id =  27
Name =  Media / Entertainment & Animation
Id =  28
Name =  Organised Retail
Id =  29
Name =  Psychometric Career Test
Id =  30
Name =  Public Admin & Government
Id =  31
Name =  Real Estate
Id =  32
Name =  Science & Research
Id =  33
Name =  Sports
Id =  34
Name =  Study Abroad
Id =  35
Name =  Telecom
Id =  36
Name =  Textiles & Garments
Id =  37
Name =  Tourism / Hospitality & Travel
Id =  38
Name =  Transportation/Logistics/Warehousing & Packaging

In [32]:
subcategory_final=sum(subcategory_list,[])
cursor.execute("DROP TABLE subcategory")
table3=[(i+1,subcategory_final[i]) for i in range(len(subcategory_final))] 
cursor.execute("CREATE TABLE subcategory(Id int(11) NOT NULL,Name varchar(250) NOT NULL) ")
values = ', '.join(map(str, table3))
cursor.execute("INSERT INTO subcategory VALUES {}".format(values))

602

In [33]:
cursor.execute("SELECT * FROM subcategory")
records=cursor.fetchall()
print("\nPrinting each row")
for row in records:
    print("Id = ", row[0], )
    print("Name = ", row[1])

Printing each row
Id =  1
Name =  Airline Pilot
Id =  2
Name =  Aerospace Materials Specialist
Id =  3
Name =  Air Traffic Controller
Id =  4
Name =  Aircraft Cleaner
Id =  5
Name =  Aircraft Maintenance Technician
Id =  6
Name =  Aircraft Refueller
Id =  7
Name =  Terminal Operations Manager
Id =  8
Name =  Reservation and Ticketing Agent
Id =  9
Name =  Ramp Service Agent
Id =  10
Name =  Ground Operation Staff
Id =  11
Name =  Cabin Crew/Flight Attendant
Id =  12
Name =  Baggage and Cargo Handler
Id =  13
Name =  Avionics and ElectronicsTechnician
Id =  14
Name =  Airport security Executive
Id =  15
Name =  Aircraft Structures Technician
Id =  16
Name =  Commercial Pilot
Id =  17
Name =  Agriculture & Allied Fields
Id =  18
Name =  Biological Scientist
Id =  19
Name =  Dietitian
Id =  20
Name =  Environmental scientist
Id =  21
Name =  Fishery Scientist
Id =  22
Name =  Food Technologists
Id =  23
Name =  Geographers
Id =  24
Name =  Geologists
Id =  25
Name =  Indian Forest Service Officer
Id =  26
Name =  Meteorologist
Id =  27
Name =  Nutritionists
Id =  28
Name =  Oceanographers
Id =  29
Name =  Zoologists
Id =  30
Name =  Crop Farmer
Id =  31
Name =  Farm Eqipment Mechanic
Id =  32
Name =  Fisheries
Id =  33
Name =  Gardener
Id =  34
Name =  Greenhouse Fitter
Id =  35
Name =  Horticulture Farmer
Id =  36
Name =  Micro Irrigation Technician
Id =  37
Name =  Pesticide Handler
Id =  38
Name =  Poultry Farmer
Id =  39
Name =  Pump Operator
Id =  40
Name =  Tea Plantation Worker
Id =  41
Name =  Tractor Servicing/Operator
Id =  42
Name =  Vegetable Farmer
Id =  43
Name =  CNC Operator
Id =  44
Name =  Lathe Operator
Id =  45
Name =  Maintainance Technician
Id =  46
Name =  Spare Part Opertaion Executive
Id =  47
Name =  Washer
Id =  48
Name =  Actuary
Id =  49
Name =  Bank Officer
Id =  50
Name =  Chartered Accountant
Id =  51
Name =  Company Secretary
Id =  52
Name =  Cost Accountant
Id =  53
Name =  Financial Planners
Id =  54
Name =  Insurance Officer
Id =  55
Name =  Investment Analyst
Id =  56
Name =  Research Analyst
Id =  57
Name =  Security Analyst
Id =  58
Name =  Stock Brokers
Id =  59
Name =  Underwriter
Id =  60
Name =  Trading Advisor
Id =  61
Name =  Accountant
Id =  62
Name =  Bank Probationary Officer
Id =  63
Name =  Bank Clerks
Id =  64
Name =  Bank Specialist Officer
Id =  65
Name =  Insurance Claims Manager
Id =  66
Name =  Collections & Recovery Manager
Id =  67
Name =  Cashiers
Id =  68
Name =  Branch Manager
Id =  69
Name =  Chief Financial Officer (CFO)
Id =  70
Name =  Chartered Financial Analyst (CFA)
Id =  71
Name =  Economist
Id =  72
Name =  DSA/Sales Executives
Id =  73
Name =  Investment Banker
Id =  74
Name =  Phone Banking Officer
Id =  75
Name =  Ratings Analyst
Id =  76
Name =  Private Equity / Venture Capital
Id =  77
Name =  Relationship Manager
Id =  78
Name =  Budget Analyst
Id =  79
Name =  Loan Officer
Id =  80
Name =  Makeup Artist
Id =  81
Name =  Bar Bender
Id =  82
Name =  Construction Worker
Id =  83
Name =  Mason
Id =  84
Name =  Plumber
Id =  85
Name =  Road Worker
Id =  86
Name =  Welder
Id =  87
Name =  Supervisors
Id =  88
Name =  Foremen
Id =  89
Name =  Crane operators
Id =  90
Name =  Electricians
Id =  91
Name =  Carpenters
Id =  92
Name =  Building hardware and home furnishings
Id =  93
Name =  Building Carpenter
Id =  94
Name =  Ceiling Fixer
Id =  95
Name =  Civil Engineering Technician
Id =  96
Name =  Draftsman
Id =  97
Name =  Earth work excavator
Id =  98
Name =  Electrical Wiremen/Technician
Id =  99
Name =  Fitter
Id =  100
Name =  Interior Designer
Id =  101
Name =  Paint Sprayer
Id =  102
Name =  Scaffolder
Id =  103
Name =  Sheet Metal Worker
Id =  104
Name =  Tiler
Id =  105
Name =  Turner
Id =  106
Name =  Chemical Technician
Id =  107
Name =  Equipment Operator
Id =  108
Name =  Industrial Chemical Manufacturing Attendant
Id =  109
Name =  lab Attendant
Id =  110
Name =  Manufacturing Assistant
Id =  111
Name =  Chemical and Pharmaceutical Operators
Id =  112
Name =  Process attendant-Chemical Plants
Id =  113
Name =  Production and QC Technician
Id =  114
Name =  Commerce
Id =  115
Name =  Air Force Related Careers
Id =  116
Name =  Army Related Careers
Id =  117
Name =  Navy Related Careers
Id =  118
Name =  Police Service- Border Security Force
Id =  119
Name =  Police Service - Central Reserve Police Force
Id =  120
Name =  Accessory Designers
Id =  121
Name =  Architect
Id =  122
Name =  Beautician
Id =  123
Name =  Fashion Designer
Id =  124
Name =  Footwear Designer
Id =  125
Name =  Furniture Designer
Id =  126
Name =  Gemologist
Id =  127
Name =  Graphics Designer
Id =  128
Name =  Illustrator
Id =  129
Name =  Interior Designers
Id =  130
Name =  Jewellery Designers
Id =  131
Name =  Photographer
Id =  132
Name =  Textile Designers
Id =  133
Name =  Product Designer
Id =  134
Name =  Retail and Exhibition Designer
Id =  135
Name =  Animation Film Maker
Id =  136
Name =  User Experience Designer
Id =  137
Name =  Life Style Accessory Designer
Id =  138
Name =  Toy and game Designer
Id =  139
Name =  Transportation and Automobile Designer
Id =  140
Name =  Floral Designer
Id =  141
Name =  Landscape Architect
Id =  142
Name =  Sculptor
Id =  143
Name =  School Psychologists
Id =  144
Name =  Clinical Psychologists
Id =  145
Name =  Foreign Langauge Teacher
Id =  146
Name =  Lecturers
Id =  147
Name =  Librarian
Id =  148
Name =  Physical Education Instructor/Coach
Id =  149
Name =  Principal
Id =  150
Name =  Professors
Id =  151
Name =  School Teacher
Id =  152
Name =  Special Educators
Id =  153
Name =  Translator
Id =  154
Name =  Tutor
Id =  155
Name =  Desktop Support engineer
Id =  156
Name =  Server Support engineer
Id =  157
Name =  Set Top Box Installer/Service
Id =  158
Name =  Pick and Place Assembly Operator
Id =  159
Name =  Network Planning / Infrastructure Eng.
Id =  160
Name =  Switching/ Router Engineer
Id =  161
Name =  Test Engineer
Id =  162
Name =  Technical Support Engineer
Id =  163
Name =  Maintainence Engineer
Id =  164
Name =  Power Eelectrician
Id =  165
Name =  Mechanic - TV/Radio
Id =  166
Name =  Refrigeration & Air Conditioning Mechanic
Id =  167
Name =  Batttery Repairer
Id =  168
Name =  Electroplater
Id =  169
Name =  Lineman/Wireman
Id =  170
Name =  Cable Jointer
Id =  171
Name =  Fire Fighter
Id =  172
Name =  Risk Management Specialist
Id =  173
Name =  Instrumentation Engineer
Id =  174
Name =  Mechanical Engineer
Id =  175
Name =  Aeronautical Engineer
Id =  176
Name =  Agricultural Engineer
Id =  177
Name =  Aircraft Maintenance Engineer
Id =  178
Name =  Automobile Engineer
Id =  179
Name =  Biotechnologist
Id =  180
Name =  Chemical Engineer
Id =  181
Name =  Civil Engineer
Id =  182
Name =  Communication Engineer
Id =  183
Name =  Computer Engineer
Id =  184
Name =  Electrical Engineer
Id =  185
Name =  Electronics Engineer
Id =  186
Name =  Mining & Merallurgical Engineer
Id =  187
Name =  Petroleum Engineer
Id =  188
Name =  Rubber and leather Technologists
Id =  189
Name =  Biochemical Engineer
Id =  190
Name =  Bio Medical Engineer
Id =  191
Name =  Electrical & Electronics Engineer
Id =  192
Name =  Electronics & Communication Engineer
Id =  193
Name =  Electronics & Instrumentation Engineer
Id =  194
Name =  Electronics & Telecomm Engineer
Id =  195
Name =  Electronics Instrumentation & Control
Id =  196
Name =  Environmental Engineer
Id =  197
Name =  Food Technology
Id =  198
Name =  Industrial Engineer
Id =  199
Name =  Industrial Production Engineer
Id =  200
Name =  Information Technologists
Id =  201
Name =  Instrumentation & Control Engineer
Id =  202
Name =  Leather Technologists
Id =  203
Name =  Manufacturing Technologists
Id =  204
Name =  Marine Engineer
Id =  205
Name =  Material Scientist
Id =  206
Name =  Oil Technologists
Id =  207
Name =  Metallurgical Engineer
Id =  208
Name =  Plastic Technologists
Id =  209
Name =  Production Engineer
Id =  210
Name =  Textile Engineer
Id =  211
Name =  Production & Industrial Engineer
Id =  212
Name =  Paint Technologists
Id =  213
Name =  Robotics Engineer
Id =  214
Name =  Sales Engineer
Id =  215
Name =  Nuclear Engineer
Id =  216
Name =  Ceramic Engineer
Id =  217
Name =  Polymer Engineer
Id =  218
Name =  Optical Engineer
Id =  219
Name =  Pulp and Paper Engineer
Id =  220
Name =  IPMAT
Id =  221
Name =  CET
Id =  222
Name =  MUCMET
Id =  223
Name =  UGAT
Id =  224
Name =  SET
Id =  225
Name =  FEAT
Id =  226
Name =  ISCAT
Id =  227
Name =  MU-OET
Id =  228
Name =  jeemain
Id =  229
Name =  jeeadvance
Id =  230
Name =  bitsat
Id =  231
Name =  viteee
Id =  232
Name =  AMUEEE
Id =  233
Name =  SRMEEE
Id =  234
Name =  BVP-CET
Id =  235
Name =  COMEDK-UGET
Id =  236
Name =  AEEE
Id =  237
Name =  CLAT
Id =  238
Name =  AILET
Id =  239
Name =  Jamia-LEE
Id =  240
Name =  AMU-LEE
Id =  241
Name =  CU-BA-LLB
Id =  242
Name =  IPU-CET-LLB
Id =  243
Name =  CU-LEE
Id =  244
Name =  MUCLET
Id =  245
Name =  ILS-CET
Id =  246
Name =  CU-CET
Id =  247
Name =  GPTU
Id =  248
Name =  DAVV-CET
Id =  249
Name =  AIL-LET
Id =  250
Name =  BHU-UET
Id =  251
Name =  AIIMS
Id =  252
Name =  NEET
Id =  253
Name =  JIPMER
Id =  254
Name =  Nift
Id =  255
Name =  Dat
Id =  256
Name =  pearl
Id =  257
Name =  Delhi-University
Id =  258
Name =  Christ-University
Id =  259
Name =  Jai-Hind-College-Mumbai
Id =  260
Name =  Xaviers-University
Id =  261
Name =  npat
Id =  262
Name =  ucbs
Id =  263
Name =  JMIEE
Id =  264
Name =  BUMAT
Id =  265
Name =  BHMCT
Id =  266
Name =  SNUSAT
Id =  267
Name =  iicd
Id =  268
Name =  Dairy Farmer
Id =  269
Name =  Dairy Process Worker
Id =  270
Name =  Food Technologist/Analyst
Id =  271
Name =  Baker
Id =  272
Name =  Jewellery Setter
Id =  273
Name =  Enameller
Id =  274
Name =  Jewellery Designer (Manual and Computerized)
Id =  275
Name =  Metal Setter
Id =  276
Name =  Polisher
Id =  277
Name =  Wax Setter
Id =  278
Name =  Casting Machine Operator
Id =  279
Name =  Diamond Assorter and Bagger
Id =  280
Name =  Jewellery Merchandiser
Id =  281
Name =  Planner/Maker
Id =  282
Name =  Lase Operator
Id =  283
Name =  Diamond Processing Sawyer
Id =  284
Name =  Diamond Bruter
Id =  285
Name =  Germologist
Id =  286
Name =  Knotter
Id =  287
Name =  Embroidery and needle worker
Id =  288
Name =  Cane and Bamboo worker
Id =  289
Name =  Carpet Designer
Id =  290
Name =  Fabricator Designer
Id =  291
Name =  Pulp Beater and Paper Cutter
Id =  292
Name =  Rag Chopper
Id =  293
Name =  Calendering Operator
Id =  294
Name =  Handloom Technologist
Id =  295
Name =  Geneticist
Id =  296
Name =  Audiologists
Id =  297
Name =  Ayurvedic Physician
Id =  298
Name =  Dentist
Id =  299
Name =  Forensic Scientists
Id =  300
Name =  Homoeopathy
Id =  301
Name =  Microbiologist
Id =  302
Name =  Nursing
Id =  303
Name =  Nutritionist
Id =  304
Name =  Opthalomogists
Id =  305
Name =  Pharmacists
Id =  306
Name =  Physician Doctor
Id =  307
Name =  Physiotherapists
Id =  308
Name =  Psychologist
Id =  309
Name =  Speech Therapists
Id =  310
Name =  Veterinarian
Id =  311
Name =  General duty Attendant
Id =  312
Name =  Geriatric Nursing Assistant
Id =  313
Name =  Dietician Assistant
Id =  314
Name =  Vaccination Technician
Id =  315
Name =  Dresser
Id =  316
Name =  Midwifery Assistant
Id =  317
Name =  Operation Theatre Technician
Id =  318
Name =  Bio electrical Modality Operator
Id =  319
Name =  Therapeutic Massage Technician
Id =  320
Name =  EMG Technician
Id =  321
Name =  Dental Assistant/Technician
Id =  322
Name =  Optician
Id =  323
Name =  Pharmacy Assistant
Id =  324
Name =  Yoga Therapist
Id =  325
Name =  Dialysis Assistant/Technician
Id =  326
Name =  Medical Record Technician
Id =  327
Name =  Nurse
Id =  328
Name =  Sterile Supply Department (CSSD) Assistant
Id =  329
Name =  Laboratory Assistant/Technician
Id =  330
Name =  Radiology Technician
Id =  331
Name =  Operation Theatre (OT) Technician
Id =  332
Name =  Optometrist
Id =  333
Name =  Medical
Id =  334
Name =  Biochemist
Id =  335
Name =  Acupuncturist
Id =  336
Name =  Anesthesiologist
Id =  337
Name =  Dermatologist
Id =  338
Name =  Fitness Trainer
Id =  339
Name =  Health Educators
Id =  340
Name =  Neurologist
Id =  341
Name =  Nursing Assistant
Id =  342
Name =  Obstetrician and Gynecologist
Id =  343
Name =  Occupational Therapist
Id =  344
Name =  Ophthalmologist
Id =  345
Name =  Pathologist
Id =  346
Name =  Radiation Therapist
Id =  347
Name =  Anthropologist
Id =  348
Name =  Archaeologists
Id =  349
Name =  Economists
Id =  350
Name =  Historians
Id =  351
Name =  Psychiatrist
Id =  352
Name =  Psychologists
Id =  353
Name =  Social Worker
Id =  354
Name =  Life Skill Trainer
Id =  355
Name =  Elder care services
Id =  356
Name =  Career counselor
Id =  357
Name =  Research Assistant
Id =  358
Name =  Corporate Trainers
Id =  359
Name =  NGO Management
Id =  360
Name =  Distance Learning Coordinator
Id =  361
Name =  Speech Pathologist
Id =  362
Name =  Marriage Counsellor
Id =  363
Name =  Sociologist
Id =  364
Name =  Database Administrator
Id =  365
Name =  DTP Operators
Id =  366
Name =  Game Designer
Id =  367
Name =  Hardware Engineer
Id =  368
Name =  Networking Engineer
Id =  369
Name =  Software Engineer Programmer
Id =  370
Name =  System Architect
Id =  371
Name =  Technical Writers
Id =  372
Name =  Web Designer
Id =  373
Name =  App Developer
Id =  374
Name =  IT Recovery Specialist
Id =  375
Name =  Ethical Hacker
Id =  376
Name =  Data scientist
Id =  377
Name =  UX - UI Designer
Id =  378
Name =  Data Architect
Id =  379
Name =  Quality Analyst
Id =  380
Name =  Cloud Computing Analyst
Id =  381
Name =  IT Project Manager
Id =  382
Name =  Multimedia Developer
Id =  383
Name =  Product Developer
Id =  384
Name =  Application Maintenance Engineer
Id =  385
Name =  Software Test Engineer
Id =  386
Name =  Associate Analytics
Id =  387
Name =  Engineer-Technical Support(Level 1)
Id =  388
Name =  Web Developer
Id =  389
Name =  Customer Support - On Phone (Regional Language)
Id =  390
Name =  DTP Publisher
Id =  391
Name =  Data Entry Operator
Id =  392
Name =  Customer Support - On Phone (English Language)
Id =  393
Name =  Customer Support - On Email/Chat
Id =  394
Name =  Software Installation Engineer
Id =  395
Name =  Technical Support - Voice/Non Voice
Id =  396
Name =  Digital Marketer
Id =  397
Name =  SEO Executive
Id =  398
Name =  SMO Executive
Id =  399
Name =  Operating Systems Engineer
Id =  400
Name =  Customer Support - On Phone(English Language)
Id =  401
Name =  Associate-Medical Transcription
Id =  402
Name =  Language Transalator
Id =  403
Name =  Judge
Id =  404
Name =  Civil Lawyer
Id =  405
Name =  Constitutional Lawyer
Id =  406
Name =  Corporate Lawyer
Id =  407
Name =  Criminal Lawyer
Id =  408
Name =  Family Lawyer
Id =  409
Name =  Labour Law Lawyer
Id =  410
Name =  Taxation Lawyer
Id =  411
Name =  Patent Attorney
Id =  412
Name =  Criminal Investigator
Id =  413
Name =  Leather and leather goods
Id =  414
Name =  Pattern and Template Maker
Id =  415
Name =  Cutter
Id =  416
Name =  Stitcher
Id =  417
Name =  Assistant Operator -Finished Leather
Id =  418
Name =  Assistant Operator Footwear
Id =  419
Name =  Buffing Operator
Id =  420
Name =  Advertising
Id =  421
Name =  Business Analyst
Id =  422
Name =  Event Management
Id =  423
Name =  Finance Management
Id =  424
Name =  Hospital Management
Id =  425
Name =  Human Resource Management
Id =  426
Name =  Market Research
Id =  427
Name =  Marketing Manager
Id =  428
Name =  Public Relations Executive
Id =  429
Name =  Retail Management
Id =  430
Name =  Rural Management
Id =  431
Name =  Sales Manager
Id =  432
Name =  Hospitality and Tourism management
Id =  433
Name =  Banking and Insurance management
Id =  434
Name =  Real Estate Management
Id =  435
Name =  Health Care management
Id =  436
Name =  Aviation Management
Id =  437
Name =  Brand management
Id =  438
Name =  Dairy Product Management
Id =  439
Name =  Petroleum Management
Id =  440
Name =  Entrepreneurship
Id =  441
Name =  Telemarketer
Id =  442
Name =  Anchor
Id =  443
Name =  Animator
Id =  444
Name =  Audio and Video Technologist
Id =  445
Name =  Choreographer
Id =  446
Name =  Disc Jockeys
Id =  447
Name =  Editor
Id =  448
Name =  Journalist
Id =  449
Name =  News Reader
Id =  450
Name =  PhotoJournalist
Id =  451
Name =  Radio Jockey
Id =  452
Name =  Reporters
Id =  453
Name =  Video Editor
Id =  454
Name =  Writer
Id =  455
Name =  Blogger
Id =  456
Name =  Content Writer
Id =  457
Name =  Video Journalist
Id =  458
Name =  Social Media Manager
Id =  459
Name =  Photo journalist
Id =  460
Name =  Online Reputational Manager
Id =  461
Name =  Copy Writer
Id =  462
Name =  Event Managers
Id =  463
Name =  Online Advertising Manager
Id =  464
Name =  Public Relation Manager
Id =  465
Name =  Acting
Id =  466
Name =  Film making
Id =  467
Name =  Modeling
Id =  468
Name =  Musician
Id =  469
Name =  Music Director
Id =  470
Name =  Caption Writers
Id =  471
Name =  Cartoonist
Id =  472
Name =  Creative Writer
Id =  473
Name =  Singer
Id =  474
Name =  Retail Cashier
Id =  475
Name =  Counter sales Executives
Id =  476
Name =  Customer Service Assistant
Id =  477
Name =  Floor Managers
Id =  478
Name =  Online shopping process manager
Id =  479
Name =  Retail Coordinator
Id =  480
Name =  Retail sales executive
Id =  481
Name =  Sales Assistant
Id =  482
Name =  Store Manager
Id =  483
Name =  Visual Merchandiser
Id =  484
Name =  Home Delivery Agents
Id =  485
Name =  Security Guard
Id =  486
Name =  Ideal Career Test
Id =  487
Name =  Indian Administrative Services
Id =  488
Name =  Indian Foreign Services Officer
Id =  489
Name =  Indian Forest Service Officer
Id =  490
Name =  Indian Information Service Officer
Id =  491
Name =  Indian Police Services Officer
Id =  492
Name =  Indian Postal Service Officer
Id =  493
Name =  Indian Railway Services Officer
Id =  494
Name =  Indian Revenue Service Officer
Id =  495
Name =  Real Estate Broker
Id =  496
Name =  Astronomer
Id =  497
Name =  Biologists
Id =  498
Name =  Genetics Scientists
Id =  499
Name =  Geologist
Id =  500
Name =  Mathematician
Id =  501
Name =  Microbiologists
Id =  502
Name =  Physicists
Id =  503
Name =  Statistician
Id =  504
Name =  Biophysicist
Id =  505
Name =  Hydrologist
Id =  506
Name =  Nuclear Power Reactor Operator
Id =  507
Name =  Sportsperson
Id =  508
Name =  Coach
Id =  509
Name =  Sports Physiotherapist
Id =  510
Name =  Sports Psychologist
Id =  511
Name =  Medicine Expert
Id =  512
Name =  Sports Manager
Id =  513
Name =  Sports Officials
Id =  514
Name =  Sports Lawyer
Id =  515
Name =  Study in USA
Id =  516
Name =  Study in Canada
Id =  517
Name =  Study in UK
Id =  518
Name =  Study in New Zealand
Id =  519
Name =  Study in Australia
Id =  520
Name =  Study in Germany
Id =  521
Name =  BSS Engineer
Id =  522
Name =  CCE (Repair Center)
Id =  523
Name =  Cluster In -charge
Id =  524
Name =  Cluster Manager
Id =  525
Name =  Core Engineer
Id =  526
Name =  Customer Care Executive(Call Center)
Id =  527
Name =  Distributor Sales Representative (Handset)
Id =  528
Name =  Fault Management Engineer
Id =  529
Name =  Field Maintenance Engineer
Id =  530
Name =  Field Sales Executive
Id =  531
Name =  Territory Sales Manager (Broadband/Prepaid
Id =  532
Name =  Transmission Engineer
Id =  533
Name =  Sales Executive (Broadband)
Id =  534
Name =  Product Specialist Engineer
Id =  535
Name =  Optical Fiber Splicer/Technician
Id =  536
Name =  Network Management Engineer
Id =  537
Name =  Installation Eng -L2 and L3
Id =  538
Name =  Installation Eng - SDH-DWDM
Id =  539
Name =  In-store Promoter
Id =  540
Name =  Infra Engineer
Id =  541
Name =  Handset Repair Engineer (level 2)
Id =  542
Name =  Tower Technician
Id =  543
Name =  Customer Care Executive (Relationship Centre)
Id =  544
Name =  Territory Sales Manager (Broadband)
Id =  545
Name =  BroadBand Technician
Id =  546

In [34]:
len(company_name)

9

In [35]:

table4=[(i+1,company_name[i],about[i],state[i],sub_category[i]) for i in range(len((company_name)))]
cursor.execute("DROP TABLE company_details")
values = ', '.join(map(str, table4))
#cursor.execute("DROP TABLE company_details")
cursor.execute("CREATE TABLE company_details(Id int(11) NOT NULL,company_name varchar(250),about varchar(250),state varchar(250),sub_category varchar(250)) ")
cursor.execute("INSERT INTO company_details VALUES {}".format(values))

9

In [36]:
cursor.execute("SELECT * FROM company_details")
records=cursor.fetchall()
print("\nPrinting each row")
for row in records:
    print("Id = ", row[0], )
    print("company_name = ", row[1])
    print("about = ",row[2])
    print("state = ", row[3])
    print("sub_category = ", row[4])

Printing each row
Id =  1
company_name =  Cactus Communications
about =  We offer
- AI-powered scholarly publishing solutions to academic publishers and researchers;
- editorial, translation, education, and training solutions for researchers;
- strategic and tactical scientific content solutions to global life science or
state =  Andhra Pradesh
sub_category =  Aerospace Materials Specialist
Id =  2
company_name =  Cactus Communications
about =  We offer
- AI-powered scholarly publishing solutions to academic publishers and researchers;
- editorial, translation, education, and training solutions for researchers;
- strategic and tactical scientific content solutions to global life science or
state =  Andhra Pradesh
sub_category =  Aerospace Materials Specialist
Id =  3
company_name =  Cactus Communications
about =  We offer
- AI-powered scholarly publishing solutions to academic publishers and researchers;
- editorial, translation, education, and training solutions for researchers;
- strategic and tactical scientific content solutions to global life science or
state =  Arunachal Pradesh
sub_category =  Aerospace Materials Specialist
Id =  4
company_name =  Cactus Communications
about =  We offer
- AI-powered scholarly publishing solutions to academic publishers and researchers;
- editorial, translation, education, and training solutions for researchers;
- strategic and tactical scientific content solutions to global life science or
state =  Arunachal Pradesh
sub_category =  Aerospace Materials Specialist
Id =  5
company_name =  Cactus Communications
about =  We offer
- AI-powered scholarly publishing solutions to academic publishers and researchers;
- editorial, translation, education, and training solutions for researchers;
- strategic and tactical scientific content solutions to global life science or
state =  Assam
sub_category =  Aerospace Materials Specialist
Id =  6
company_name =  Cactus Communications
about =  We offer
- AI-powered scholarly publishing solutions to academic publishers and researchers;
- editorial, translation, education, and training solutions for researchers;
- strategic and tactical scientific content solutions to global life science or
state =  Assam
sub_category =  Aerospace Materials Specialist
Id =  7
company_name =  Press Play Digital
about =  -
state =  Andhra Pradesh
sub_category =  Aircraft Cleaner
Id =  8
company_name =  Press Play Digital
about =  -
state =  Arunachal Pradesh
sub_category =  Aircraft Cleaner
Id =  9
company_name =  Press Play Digital
about =  -
state =  Assam
sub_category =  Aircraft Cleaner

In [72]:
table5=[(i+1,company_name[i],title[i],headquarters[i]) for i in range(len((company_name)))]
cursor.execute("DROP TABLE jobs_details")
values = ', '.join(map(str, table5))
cursor.execute("CREATE TABLE jobs_details(Id int(11) NOT NULL,company_name varchar(250),title varchar(250),location varchar(250)) ")
cursor.execute("INSERT INTO jobs_details VALUES {}".format(values))
#cursor.execute("INSERT INTO company_details VALUES {}".format(values))
conn.commit()

In [66]:
records=cursor.execute("SELECT * FROM jobs")
records = cursor.fetchall()
print("Total number of rows in table: ", cursor.rowcount)

print("\nPrinting each row")
for row in records:
        print("Id = ", row[0], )
        print("company_name = ", row[1])
        print("title= ",row[2])
        print("location=",row[3])

Total number of rows in table:  9

Printing each row
Id =  1
company_name =  Cactus Communications
title=  Editor - Materials Science
location= Mumbai, Maharashtra
Id =  2
company_name =  Cactus Communications
title=  Editor - Materials Science
location= Mumbai, Maharashtra
Id =  3
company_name =  Cactus Communications
title=  Editor - Materials Science
location= Mumbai, Maharashtra
Id =  4
company_name =  Cactus Communications
title=  Editor - Materials Science
location= Mumbai, Maharashtra
Id =  5
company_name =  Cactus Communications
title=  Editor - Materials Science
location= Mumbai, Maharashtra
Id =  6
company_name =  Cactus Communications
title=  Editor - Materials Science
location= Mumbai, Maharashtra
Id =  7
company_name =  Press Play Digital
title=  Cleaning Business / Remote CEO - 60-70 hours a week
location= -
Id =  8
company_name =  Press Play Digital
title=  Cleaning Business / Remote CEO - 60-70 hours a week
location= -
Id =  9
company_name =  Press Play Digital
title=  Cleaning Business / Remote CEO - 60-70 hours a week
location= -